<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH_ARQUIVOS" value="C:\TEMP\ARQUIVOS\CARGA"/>
    <add key="PATH_PROCESSADOS" value="C:\TEMP\ARQUIVOS\PROCESSADOS"/>
    <add key="PATH_PROCESSADOS_ERRO" value="C:\TEMP\ARQUIVOS\PROCESSADOS_ERRO"/>
    <add key="PATH_LOG" value="C:\temp\LOG\ServivoImportacaoDados"/>
    <add key="Intervalo" value="00:00:01" />
    <add key="HorarioInicio" value="06:00:00"/>
    <add key="HorarioTermino" value="23:00:00"/>
    <add key="TipoArquivo" value="*.txt"/>
    <!--<add key="SQLConnectionString" value="Server=local;Database=BMP_LIGTH;User Id=sa;Password=bmpcard;"/>-->
    <add key="SQLConnectionString" value="QLprrYyC9NoPgAgSvAH9yrutaTg4G6BDqI0CDz8a7nwZMMTxSFt7ZgFlko26eiV2edtvqW8TcNlrMf8twwKb+gCcdEQkLGqoFziKh2jbK0UA"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>